
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Personalized Copy</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
   
    <link href="/css/bootstrap.min1.css" rel="stylesheet">
     <link href="/css/bootstrap.min2.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
     <link href="/css/grayscale.css" rel="stylesheet">
     <link href="/css/full-slider.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/creative.css" type="text/css">-->
      <link rel="stylesheet" href="/css/agency.css" type="text/css">
<!-- for fontawesome icon css file -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- for content animate css file -->
       <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
 
   
   <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
   <% if !current_user %>
    <link href="/css/style.css" rel="stylesheet">
   <% end %>
    <link rel="stylesheet" href="/css/creative.css" type="text/css">
     <link rel="stylesheet" href="/css/agency.css" type="text/css">
     <!-- theam.css-->
      <link href="/css/theme.css" rel="stylesheet">
    <!-- google fonts  -->
    <!--<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>--> 
     <!-- slick slider css file -->
    <link href="/css/slick.css" rel="stylesheet">     

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->

  
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </button>
                </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     <% if current_user %>
                     <li>
                        <a class="page-scroll" href="#personalized">PERSONALIZED NEWS</a>
                    </li>
                    <% else %>
                     <li>
                        <a class="page-scroll" href="#myCarousel">HOME</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/auth/twitter">PERSONALIZED NEWS</a>
                    </li>
                    <% end %>
                    <li>
                        <a class="page-scroll" href="#port">TRENDING NEWS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                    <% if current_user %>
                    <li>
                        <a class="page-scroll" href="<%= signout_path %>">SIGN OUT</a>
                    </li>
                    <% else %>
                     <li>
                        <a class="page-scroll" href="/auth/twitter">SIGN IN WITH TWITTER</a>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<% if !current_user %>
<header id="myCarousel" class="carousel slide">
   <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
      <div class="carousel-inner">
      <div class="item active">
 <!-- Set the first background image using inline CSS below. -->

   <div class="fill" style="background-image:url('/img/r7.jpg');"></div>
                <div class="header alt vert">
               
                <div class="carousel-caption"> <% if !current_user %>
              <a href="/auth/twitter"class="btn btn-default btn-lg">Sign in with twitter</a>
                 </div><% end %>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/r3.jpg');"></div>
                <div class="header alt vert">
                   
                  <div class="carousel-caption">
                  <% if !current_user %>
                 <a href="/auth/twitter"class="btn btn-default btn-lg">Sign in with twitter</a><% end %>
                </div>
            </div>
           </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/rsz_r6.png');"></div>
                 <div class="header alt vert">
               
                <div class="carousel-caption"> <% if !current_user %>
                <a href="/auth/twitter"class="btn btn-default btn-lg">Sign in with twitter</a>
                </div><% end %>
               </div>
        </div>
</div>
      

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

</header>
<% end %>
<% if current_user %> 
  
<header id="personalized" >
   

<br/></div >

<section class="no-padding" id="portfolio">
 
       <% recent_3 = @htags.first(3) %>
       <% articles = @kwords - recent_3 %>
       <% all_articles = recent_3 + articles %>
        <div class="container-fluid">
         <% all_articles.uniq.each do |query| %>  
           <% search = Google::Search::News.new do |search| %>
             <% search.query = query %>
             <% search.size = :small %>
           <% end %>
           <% search.first(3).each do |item| %>
            <div class="col-lg-4 col-sm-6">
             <div class="content_middle_middle">
               <div class="slick_slider2">
                <% result = Google::Search::Image.new(:query => item.title, :image_size => :large) %>
                   <% r = result.first(3) %>
                   <% r.each do |image| %>
                      <div class="single_featured_slide">
                      <a href="<%= item.uri%>" target="_blank"><%= image_tag "#{image.uri}",:size => "500x300"%></a>
                      <h4><a href="<%= item.uri%>" target="_blank"><%= item.title.html_safe %></a></h4>
                      </div>
                   <% end %><br /><br />
               </div>
             </div>
            </div>
           <% end %>
         <% end %>
        </div>
</section> </header>

 <br />
 <!-- This one works but it goes to a new page with basic html-->
<!--<h4> Feel like tweeting !</h4>
<a href="tweets/new" class="btn btn-info" role="button">Tweet</a> -->
<br />
 <!-- This one dosent work modal appearing and dissappearing-->
<!--<button class="btn btn-primary btn-lg" data-toggle="modal" 
          data-target="#myModal" >
       Feel Like Tweeting
</button>-->

<% end %>

<section class="no-padding" id="port">
        <div class="container-fluid">
            <div class="row no-gutter">
              <% for category in Category.all %>
                <div class="col-lg-4 col-sm-6">
                    <a href="/categories/<%= category.id %>" class="portfolio-box">
                        <img src="/images/categories/<%= category.image_url %>" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <%= category.name %>
                                </div>
                                <div class="project-name">
                                    Top News
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <% end %>
            </div>
        </div>
   </section>
      <!-- About Section -->
    <section class="no-padding" id="about">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Know more about us and our work!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What We Do:</h4>
                                
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Personalised News Recommender is an innovative news recommendation platform which recommends news articles based on your tweets.We bring the news articles from some of the best news source in the world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>How it all began!</h4>
                                   
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We started the whole news recommendation process as a part of our final year project under the watchful guidance of Prof.Saritha K.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                  <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Guided by prof.Saritha K</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sanjana G</h4>
                        <p class="text-muted">1PE11IS082</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/sanjana.ganesh.35?fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/img/team/4.jpg" class="img-responsive img-circle" alt="">
                        <h4>Vishak U</h4>
                        <p class="text-muted">1PE11IS108</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/vishak.uday"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Srikanth Desai</h4>
                        <p class="text-muted">1PE12IS413</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/profile.php?id=100002595159594&fref=ts&ref=br_tf"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>
  <!-- Contact Section -->
    <section class="no-padding" id="contact">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want to get in touch with us? great!Here's how you can get in touch with us.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>8884704847</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">vishakuday47@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <!--div id="map"></div-->
<!-- jQuery -->
     <footer>
        <div class="container text-center">
            <p>Copyright &copy; Personalized News Recommender 2015</p>
        </div>
    </footer>
    
    <script>
    $('.carousel').carousel({
        interval: 4000 //changes the speed
    })
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
  
    <script src="/js/wow.min.js"></script>

  
  <!-- slick slider js file -->
   <script src="/js/slick.min.js"></script> 
   

    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>
    <script src="/js/creative.js"></script>
   
    <script src="/js/custom.js"></script> 

</body>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
      aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
      <form accept-charset="UTF-8" action="/tweets" class="new_tweet" id="new_tweet" method="post">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               Tweet Away !
            </h4>
         </div>

          <div class="modal-body">
           
              <div class="form-group">
                <textarea class="form-control" rows="5" id="tweet_body" name="tweet[body]"></textarea>
               
              </div>
            
         </div>
         <div class="modal-footer">
            <input class="btn btn-info" type="submit" value="Tweet"></input>
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">Close
            </button>
          
         </div>
        </div><!-- /.modal-content -->
      </form>
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
<br/> 



































<!--
<div id="doNothing">
   <br /><br />

 <p id="notice"><%= notice %></p>

 <% if !current_user.nil? %>



  <br>
  <div>
    <button class="btn btn-primary btn-lg" data-toggle="modal" 
          data-target="#myModal">
       Feel Like Tweeting
    </button>
   </div>  

  <div> 
  <br/> <br/>



  <h1>Listing Tweets</h1>

  <% if @my_tweets.nil? %>
    <p>Value is nil unfortunately</p>
  <% else %>
      <% for tweet in  @my_tweets %>
        <% words = tweet.text.split(/ /) %>
        <% @hash_tags = [] %>
        <% for word in words %>
           <%  if word.include?("#") || word.include?("@") %>
                <% word.slice!(0) %>
                <%  @hash_tags << word %>
           <% end %>
        <% end %> 
        The tweet is <br/>
        <li>
         <%= tweet.text %><br />
           <% if !@hash_tags.empty? %>
               The keywords are
               <% for tag in @hash_tags %>
                    <%= tag %>
               <% end %>
           <% end %>
        </li>
      <% end %><br />



      <h2>News Articles</h2>
      <% recent_3 = @htags.first(3) %>
      <% articles = @kwords - recent_3 %>
      <% all_articles = recent_3 + articles %>
      <% all_articles.uniq.each do |query| %>
         <% search = Google::Search::News.new do |search| %>
             <% search.query = query %>
             <% search.size = :small %>
         <% end %>
         <% search.first(4).each do |item| %>
           <h4><%= item.title.html_safe %><h4><br />
           <% result = Google::Search::Image.new(:query => item.title, :image_size => :large) %>
           <% r = result.first(3) %>
           <% r.each do |image| %>
                <%= image_tag "#{image.uri}",:size => "150x150"%>
           <% end %><br />
           <%= link_to item.uri, item.uri %> <br /><br />
         <% end %>
      <%end %>
  <% end %>



 <div>
<% else %>
   <br /><br />
   <% @categories = Category.all %>
   <% @categories.each do |category| %>
      <h3><%= link_to category.name, category %></h3 ><br />
   <% end %>
   
<% end %>
</div> -->
<!-- MODAL PART -->

